.Wrapper {
  background-color: #f1f1f1;
  padding: 20px;
  height: 100%;
}

.Heading {
  margin-bottom: 30px;
}

.Button {
  margin: 15px auto;
}

.Form {
  width: 100%;
}

.label {
  width: 100%;
  font-weight: bold;
}
