.btn {
    flex-grow: 1;
    order: 2;
}

.argsWrapper {
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
}
