.networkNavigation {
  position: relative;
  height: 100%;
  width: 25%;
}

.networkNavigationButtonContainer {
  height: 100%;
}

.networkNavigationButton {
  width: 100%;
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  transition:all 0.3s ease;
}

.networkNavigationButton:active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  color:black;
}

.networkNavigationGlobe {
  width: 14px;
  margin-right: 5px;
  pointer-events: none;
}

.networkNavigationChevron {
  width: 10px;
  transform: translateY(5px);
  pointer-events: none;
}

.networkNavigationDropDownContainer {
  padding: 15px 5px;
  width: 140px;
  left: -77px;
  top: 49px;
}

.networkOptionButton {
  display: block;
  width: 100%;
  margin: 6px 0;
  border: none;
  font-family: Roboto;
  background: transparent;
  color: #585858;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
}

.networkOptionButton:first-child {
  margin-top: 0;
}

.networkOptionButton:last-child {
  margin-bottom: 0;
}

.networkNavigationOptionSelected {
  background-color: #48f12f;
  border: none;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: auto;
}

.mainNetNeoImg,
.networkOptionIcon {
  width: 16px;
  margin-right: 8px;
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
