.sendWrapper {
  background-color: #fff;
}

.sendContainer {
  padding: 40px 20px 30px 20px;
  width: 100%;
  background-color: #fff;
  height: 100%;
}

.sendSelectAsset {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sendSelectAssetText {
  margin-right: 15px;
  font-size: 1rem;
  color: #585858;
}

.sendAssetSelectBox {
  -webkit-appearance: none;
  height: 35px;
  width: 100%;
  border: none;
  background-color: #f1f1f1;
  color: #585858;
  background-image: url('../../../img/chevron-down-grey.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border-radius: 3px;
  background-size: 15px;
  padding: 0 10px;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.sendAmountsInputField {
  width: 100px;
}

.sendButton {
  transform: translateY(22px);
}

.sendForm {
  width: 80%;
  margin: 0 auto;
}

.sendAmount {
  display: flex;
}
