.accountInfoAmounts {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  color: #585858;
  position: relative;
}

.accountInfoNeoAmount,
.accountInfoGasAmount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountInfoNeoAmountImg {
  width: 25px;
}

.accountInfoGasAmountImage {
  width: 17px;
}

.accountInfoAmountParagraph {
  font-size: 1rem;
  border: 1px solid #36b149;
  color: #36b149;
  padding: 4px 10px;
  border-radius: 50px;
  cursor: default;
}

.accountInfoRefreshButton {
  font-size: 1.2rem;
  border: none;
  color: #585858;
  position: absolute;
  cursor: pointer;
  background-color: white;

  transition: all 0.2s ease;
  opacity: 1;
}

.accountInfoRefreshButton:link,
.accountInfoRefreshButton:visited {
  color: #585858;
}

.accountInfoRefreshButton:hover {
  opacity: 0.5;
}

.accountInfoRefreshButton:active {
  opacity: 1;
  color: #585858;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.accountInfoRefreshButtonImage {
  width: 20px;
  pointer-events: none;
}


