.accountInfoAmounts {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  color: #585858;
  position: relative;
}

.accountInfoNeoAmount,
.accountInfoGasAmount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountInfoNeoAmountImg {
  width: 25px;
}

.accountInfoGasAmount svg {
  font-size: 1.3rem;
  margin-bottom: 3px;
  color: #36b049;
}

.accountInfoAmountParagraph {
  font-size: 1rem;
  border: 1px solid #36b149;
  color: #36b149;
  padding: 4px 10px;
  border-radius: 50px;
}


.accountInfoRefreshButton {
  font-size: 1.2rem;
  border: none;
  color: #585858;
  position: absolute;
  cursor: pointer;
}
